@import '../../assets/styles/Variables.scss';

.wrapper{
    background-image: $blue-gradient;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
.link{
    margin-top: 40px;
    text-decoration: none;
    color: darkblue;
    bottom: 10px;
    
    &:active{
        color: white;
    }
}