.formItem{
    height: 30px;
    margin-bottom: 20px;
    border: .5px solid #014053;
    border-radius: 15px;
    padding: 15px 30px;
    width: 100%;
    // &:invalid{
    //     border-color: red;
    // }
}
// .invalidFeedback{

// }
// .formItem:valid~.invalid-feedback {
//     display: none;
// }

