@import '../../assets/styles/Variables.scss';

.button{
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 260px;
    font-size: .7rem;
    background-image: $blue-gradient;
    outline: none;
    cursor: pointer;
    transition: .2s;

    &:hover, &:focus{
        transform: scale(0.95)
    }
    &:active{
        transform: scale(1)
    }

    &Secondary{
        @extend .button;
        background-image: none;
        background-color: transparent;
        border: .5px solid white;
        font-weight: 300;
    }
}