$progr-bar-color: #4375a0;
$progr-bar-shadow-color: #464646a2;
$progr-bar-thumb-border-color: #524e4e;
$progr-bar-border-color: #383737;

.formWrapper{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}
.formTitle{
    margin-bottom: 50px;
}
.slider{
    margin: 20px auto 50px;
    -webkit-appearance: none; 
    width: 100%; 
    background: transparent; 
    border: none;
    
    &::before{
        content: '0';
        display: block;
        position: relative;
        top: 25px;
        left: 8px;
    }
    &::after{
        content: '10';
        display: block;
        position: relative;
        top: 25px;
        right: 10px;
    }
}
.slider:focus{
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.slider::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid $progr-bar-thumb-border-color;
  height: 26px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px; 
  box-shadow: 1px 1px 1px $progr-bar-shadow-color, 0px 0px 1px $progr-bar-shadow-color;
}
.slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px $progr-bar-shadow-color, 0px 0px 1px $progr-bar-shadow-color;
  border: 1px solid $progr-bar-thumb-border-color;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.slider::-ms-thumb {
  box-shadow: 1px 1px 1px $progr-bar-shadow-color, 0px 0px 1px $progr-bar-shadow-color;
  border: 1px solid $progr-bar-thumb-border-color;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px $progr-bar-shadow-color, 0px 0px 1px $progr-bar-shadow-color;
  background: $progr-bar-color;
  border-radius: 30px;
  border: 0.2px solid $progr-bar-border-color;
}
.slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px $progr-bar-shadow-color, 0px 0px 1px $progr-bar-shadow-color;
  background: $progr-bar-color;
  border-radius: 30px;
  border: 0.2px solid $progr-bar-border-color;
}

.slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: $progr-bar-color;
  border: 0.2px solid $progr-bar-border-color;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px $progr-bar-shadow-color, 0px 0px 1px $progr-bar-shadow-color;
}
.slider::-ms-fill-upper {
  background: $progr-bar-color;
  border: 0.2px solid $progr-bar-border-color;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px $progr-bar-shadow-color, 0px 0px 1px $progr-bar-shadow-color;
}
