.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    background-color: red;
}
.formWrapper{
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>button{
        display: block;
        margin-top: 20px;
    }
    
    &::after{
        content: '';
        width: 100%;
        height: 2px;
        display: block;
        background-color: rgba(41, 129, 156, 0.2);
        position: relative;
        top: 30px;
        box-shadow: 0 2px 3px rgb(221, 221, 221);
    }
}
.title{
    font-weight: 300;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 30px;

    &::after{
        content: '';
        
        width: 50%;
        height: 2px;
        display: block;
        background-color: #137492;
        position: relative;
        top: 10px;
        left: 25%;
    }
}
.form{
    display: flex;
    justify-content: center;
    margin: 0 30px;
    flex-wrap: wrap;
    align-items: center;
    &>Input{
        margin: 10px 30px 10px 0;
    }
    &>label{
        margin: 10px;
        display: flex;
        align-items: center;
    }
    &>Input[type=text]{
        width: 300px;
    }
    
}
