@import '../../assets/styles/Variables.scss';

.wrapper{
    
    border: 1px solid $light-gray;
    color: $font-color;
    box-shadow: $light-gray-shadow;
    border-radius: 30px;
    padding: 5px 30px 10px;
    cursor: pointer;
    margin: 20px 0;
    position: relative;

    &:hover{
        box-shadow: $light-gray-shadow-hover;
    }

    & p{
        font-size: .8rem;
        opacity: .7;

        &:first-child{
            font-weight: 700;
        }
    }
    & span{
        opacity: .4;
        margin-left: 10px;
        position: absolute;
        right: 25px;
        top: 20px;
    }
}