@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext');

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}