.wrapper{
    list-style: none;
    border-bottom: 1px solid rgba(36, 36, 155, 0.233);
    display: flex;
    cursor: pointer;
    padding: 30px;
}
.image{
    border-radius: 100px;
    height: 100px;
}
.userInfo{
    list-style: none;
    margin: auto;
}
.boldText{
    font-weight: 800;
    font-size: 1.3em;
}
.italicText {
    font-style: italic;
}