.wrapper{
    list-style: none;
    border-bottom: 1px solid rgba(36, 36, 155, 0.233);
    display: flex;
    cursor: pointer;
    padding: 20px;
    font-size: .8rem;
    
}
.image{
    border-radius: 100px;
    height: 90px;
}
.userInfo{
    list-style: none;
    margin: auto;
}
.boldText{
    font-weight: 800;
    font-size: 1rem;
}
.italicText {
    font-style: italic;
}
.avatar{
    border-radius: 100px;
    height: 100px;
    cursor: pointer;
    border: 3px solid rgb(113, 201, 238);
}