.wrapper{
    display: flex;
    top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    font-size: .9rem;
    padding: 40px;
}
.buttonWrapper{
    // margin: auto;
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &>Button{
        width: 160px;
        margin: 10px;
    }
}
