@import '../../assets/styles/Variables.scss';

.wrapper{
    background-color: transparent;
    width: 350px;
    max-width: 80vw;
    border: 1px solid $light-gray;
    color: $font-color;
    display: inline-block;
    box-shadow: $light-gray-shadow;
    border-radius: 30px;
    padding: 5px 30px 10px;
    cursor: pointer;
    margin: 20px;
    position: relative;

    &:hover{
        box-shadow: $light-gray-shadow-hover;
    }

    & p{
        font-size: .8rem;
        opacity: .7;
    }
    & span{
        opacity: .4;
        margin-left: 10px;
        position: absolute;
        right: 25px;

    }
}
.italic{
    font-style: italic;
}