@import '../../assets/styles/Variables.scss';

.wrapper{
    border-radius: 30px;
    box-shadow: 0 0 5px 1px $font-color-light;
    margin: 20px; 
    width: 300px;
    padding: 20px;
    list-style: none;

    &:hover{
        box-shadow: 0 0 5px 1px $gradient-color-dark;
    }   
    &:focus{
        box-shadow: 0 0 5px 1px $gradient-color-dark;
    }
}
.name{
    font-weight: 700;
}