@import '../../assets/styles/Variables.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    & .select {
        width: 100%;
        margin-bottom: 10px;
    }
}
.dateWrapper{

    margin-bottom: 20px;

    & input{
        margin: 5px;
        padding: 5px;
        border-radius: 100px;
        border: 1px solid $border-dark;
        
    }
}
