.wrapper{
    display: flex;
    background-color: lightblue;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5vw;
    background-image: linear-gradient(135deg, #2980B9, #6DD5FA);
    
    
}


