@import '../../assets/styles/Variables.scss';

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    &>h3{
        font-weight: 300;
        margin: 10px;
    }
    &>a{
        text-decoration: none;
        font-size: 1.17em;
        font-weight: 300;

        &:hover{
            color: lightblue;
        }
    }
    &>h1::after{
        content: ' ';
        width: 80%;
        height: 1px;
        display: block;
        position: relative;
        top: 15px;
        left: 10%;
        background-color: $font-color-light;
        
    }
}
.backgroundImage{

    &>img{
        width: 100vw;
        height: 25vh;
        object-fit: cover;
        object-position: 0 75%;
        border-top: 1px solid white;
    }
}
