
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.image{
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid rgb(113, 201, 238);
}
.name{
    color: #137492;
    font-weight: 700;
    font-size: 1.5rem;
}
