.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    color: white;
    background-image: linear-gradient(135deg, #2980B9, #6DD5FA);
}
.link{
    text-decoration: none;
    margin-top: 20px;
    font-weight: 700;
    color: rgb(23, 84, 124);
    transition: .2s;

    &:hover{
        color: white;
    }
}