
$blue-gradient: linear-gradient(135deg, #2980B9, #6DD5FA);
$border-dark: rgb(2, 73, 121);
$font-color: #137492;
$font-color-light: #41adec83;
$font-color-light2: #56a5bd;
$gradient-color-light: #6DD5FA;
$gradient-color-dark: #2980B9;