@import '../../assets/styles/Variables.scss';

.item{
    list-style: none;
    border: 1px solid $font-color;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    width: 200px;  
    font-weight: 300;
    cursor: pointer;

    &>ul{
        list-style: none;
        padding-left: 5px;
    }
}

.item:hover{
    background-image: $blue-gradient;
    color: white;
}

.areaName{
    font-weight: 400;
}