.item{
    list-style: none;
    border: 1px solid #137492;
    border-radius: 100px;
    padding: 8px 20px;
    margin: 10px;
    width: 200px;  
    cursor: pointer;
}

.item:hover{
    background-image: linear-gradient(135deg, #2980B9, #6DD5FA);
    color: white;
}